/* These characters at the beginning mean: b=Brighter and d=Darker */
/* Color in which all other colors are based */
/* Gradient of greens */
/* Brighter and darker colors */
body {
  background-color: #F2F2F2;
  color: #0D0D0D;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal; }

h2 {
  font-size: 200%; }

p {
  margin: 20px; }

.centered {
  text-align: center; }

/* homepage buttons */
.btn {
  border-radius: 1px;
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  width: 140px; }

.studies {
  background-color: #29B347; }

.studies:hover {
  background-color: #23993D; }

.about {
  background-color: #29B375; }

.about:hover {
  background-color: #239964; }

.contact {
  background-color: #29B3A0; }

.contact:hover {
  background-color: #239989; }

/* menu (sidenav) button */
.menu {
  padding: 5px 5px;
  width: 50px;
  background-color: #0D0D0D; }

.menu:hover {
  background-color: #848484; }

/* homepage image */
#homeimg {
  border-radius: 50%;
  /* round image */
  width: 100%;
  max-width: 350px;
  height: auto;
  float: left; }

/* Customized hr for pages */
#studieshr, #abouthr, #contacthr {
  height: 3px;
  border: none; }

#studieshr {
  background-color: #29B347; }

#abouthr {
  background-color: #29B375; }

#contacthr {
  background-color: #29B3A0; }

/* Embedded spreadsheet in Studies page */
.spreadsheet {
  width: 1300px;
  height: 1600px; }

.spreadsheetbtn {
  padding: 5px 5px;
  width: 300px;
  background-color: #0D0D0D; }

/* Side navigation menu */
.sidenav {
  position: fixed;
  /* in place */
  left: 0;
  top: 0;
  /* Stay at the top */
  z-index: 1;
  /* Stay on top */
  width: 0;
  /* 0 width - change this with JavaScript */
  height: 100%;
  /* 100% Full-height */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  background-color: #0D0D0D;
  transition: 0.3s;
  /* transition effect to slide in the sidenav */ }

/* Navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #BFBFBF;
  display: block;
  transition: 0.4s; }

/* Active Navigation menu link*/
.sidenav a.firstselected {
  background-color: #29B347; }

.sidenav a.secondselected {
  background-color: #29B375; }

.sidenav a.thirdselected {
  background-color: #29B3A0; }

/* Navigation menu links hover */
.sidenav a:hover {
  color: #F2F2F2; }

/* Navigation menu close button */
.sidenav .closebutton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

/* Carousel container */
.carousel-container {
  max-width: 650px;
  position: relative;
  margin: auto; }

/* Hide the images by default */
.imgCarousel {
  display: none; }

/* Image counter (1/4 etc) */
.imgCounter {
  background-color: #0d0d0d71;
  color: #F2F2F2;
  font-size: 10px;
  border-radius: 20%;
  padding: 8px 12px;
  margin: 10px 10px;
  position: absolute;
  top: 0; }

/* Image caption text */
.imgText {
  background-color: #0d0d0d71;
  color: #F2F2F2;
  font-size: 12px;
  border-radius: 5%;
  padding: 8px 12px;
  margin: 10px 10px;
  position: absolute;
  bottom: 8px;
  width: 30%;
  text-align: center; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #848484d0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: .7; }
  to {
    opacity: 1; } }
/* Navigation menu on smalller screens */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }

/*# sourceMappingURL=styles.css.map */
